@charset "UTF-8";

.chattingbox{
	border: 3px solid #f9f9f9;
}
.enter_title{
	border-bottom: 3px solid #f9f9f9;
	text-align: center;
	padding: 10%;
}

.btnbox span{
	font-size: 3px;
}
.contentbox{
	height: 700px; background-color: #b2c7d9;
	overflow-y:scroll; 
	/* div내 내용이 div 세로 길이보다 커지면 스크롤 생성 */
	
}

/*보낼때*/
.secontent{
	text-align: right;	
}
.secontent .content{
	background-color: #ffeb33;
}

 /*받을때*/
.recontent{
	text-align: left;
}

.content{
	background-color: #ffffff;
	border-radius: 10px;
	padding: 10px;
	display: inline-block;
	font-size: 12px;
}
.date{
	font-size: 1px; margin: 5px 2px;
}
/* 알람 */
.alarm{
	background-color: #a9bdce;
	text-align: center;
	font-size: 8px;
	padding: 2%;
	margin: 0 auto;	/* div 가운데 배치 */
	width: 70%;
}
/* 부트스트랩 css 충돌 */
/* css 적용 우선순위 : !important > id > class > tag > *   */ 
.sendbtn{
	background-color: #ffeb33 !important;
}
















