@charset "UTF-8";

/* 외부 폰트 */
@font-face {
    font-family: 'SuseongDotum';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/SuseongDotum.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* 모든곳에 적용 */
*{ 
	font-family: "SuseongDotum";
	padding: 0px;
	margin: 0px;
}
/* a태그(링크) 기본 속성 제거  */
a{ text-decoration: none; color: black;}

.boardview_title{
	border-bottom: 2px solid black; /* 아래 테두리 */
	padding: 10px; /* 안쪽여백 */
	margin-top: 50px; /* 위 바깥여백 */
}
.boardview_content{
	min-height: 400px; /*최소높이*/	
}
textarea {
	resize: none;	/* 크기변경 불가능 */
}
.replywriter{
	font-size: 14px;
}
.replybtn{
	font-size: 10px;
}
.replydate{
	font-size: 7px;
}
.header_logo{
	font-size: 40px;
}
.header_topmenu{
	font-size: 13px;
	color: #999999;
	padding: 2px 6px 2px 6px;
}
.header_input{
	border: 0; /* 테두리 제거 */
	border-bottom: 2px solid black;
}
.shoppingbox{
	font-size: 10px;
	background-color: skyblue;
	color: white;
	padding: 2px 5px 2px 5px;
	border-radius: 10px;
	margin-right: 10px;
}

/* 드랍다운에 마우스 올렸을때 */
.dropdown:hover .dropdown-menu{
	display: block;
}

.boardlist_title{
	width : 20%;
	border-bottom: 1px solid black;
	padding: 20px;
	margin: 100px 0px 50px 0px;
}
.boardlist_topbtn{
	margin: 20px 0px;	
}
.pagenum{
	color: black;
	font-size: 12px;
}

/* 메인 */

.adbox{
	margin: 50px 10px 50px 0px;
}
.main_box{
	margin-bottom: 70px;
}
.main_title{
	text-align:  center;
	font-size: 23px;
	margin: 20px;
}
.best_box img{
	width: 100%;
}
.p_item{ margin: 10px; }
.p_title{ font-size: 15px; }
.p_size{ 
	color: #999999; 
	font-size: 12px; 
	border-bottom: 1px solid #999999 ;
	padding-bottom: 10px;
}
.p_discount{
	font-size: 12px;
	color: #999999;
	text-decoration: line-through; /*취소선*/
}
.p_price{ 
	font-size: 12px; 
}
.p_review{
	font-size: 12px; color: #999999;
	text-align: right; 
}



























