@charset "UTF-8";

/* 외부 폰트 */
@font-face {
    font-family: 'SuseongDotum';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/SuseongDotum.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* 모든곳에 적용 */
*{ 
	font-family: "SuseongDotum";
}
/* a태그(링크) 기본 속성 제거  */
a{ text-decoration: none; color: black;}

.boardview_title{
	border-bottom: 2px solid black; /* 아래 테두리 */
	padding: 10px; /* 안쪽여백 */
	margin-top: 50px; /* 위 바깥여백 */
}
.boardview_content{
	min-height: 400px; /*최소높이*/	
}
textarea {
	resize: none;	/* 크기변경 불가능 */
}
.replywriter{
	font-size: 14px;
}
.replybtn{
	font-size: 10px;
}
.replydate{
	font-size: 7px;
}


















