.viewbox{
	margin: 50px 0px;
	
}
img{
	width: 100%;
}
.infobox{
	border-top: 1px solid black;
	margin-left: 50px;
}
.view_title{
	margin-top: 30px;
}
.price_box{
	margin: 30px 0px;
}
.price_rat{
	color: red;
	font-size: 20px;
	padding-right: 15px;
}
.price_dis{ padding-right: 15px; }
.price{
	text-decoration: line-through;
	padding-right: 15px;
	color: #999999;
}
.size_box{  margin: 20px 0px;  }
.info_t{  font-size: 13px; }
.fc{
	padding: 0px;
	font-size: 5px;
}
.amount_input{
	padding: 10px;
	vertical-align: middle;
}
.amount_btn{
	display: block;
	background-color: white;
	font-size: 5px;
	padding: 0px 10px;
	border: 1px #999999 solid;
}
.cancel_btn{
	background-color: white;
	font-size: 6px;
	border: none;
	padding-top: 8px;
}
.total_price{
	text-align: right;
}
.pointbox{
	font-size: 9px;
	color: #999999;
}
.pricebox{
	font-size: 12px;
}

.btnbox button{ /*btn 꾸미기 */
	background-color: white;
	border:  1px solid #999999;
	width: 30%;
	padding: 20px 10px;
	margin-right: 10px;
}
#btn1{
	background-color: black;
	color: white;
}
#btn3{
	color: red;
}











